mixin video(video)
  a.video-mixin(href=`/videos/${video.id}`)
    .video-mixin__thumb
      img(
        src=video.thumbURL,
        crossorigin,
        style="background-size: cover; background-position: center; width: 300px; height: 140px"
      )
    .video-mixin__data
      span.video-mixin__title= video.title
      .video-mixin__meta
        span #{ video.owner.name } •
        span #{ video.meta.views } 회
